
@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),  url('NanumSquareRoundB.woff') format('woff'), url('NanumSquareRoundB.ttf')  format('truetype'), url('NanumSquareRoundB.svg#NanumSquareRoundB') format('svg');
  font-weight: bold;
  font-style: normal;
}
